meta( charset="utf-8" )
meta( name="viewport", content="width=device-width,initial-scale=1.0" )
title= "#innoutChallenge"
link( rel="stylesheet/less", href="/main.less", type="text/css")
link( rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", type="text/css", crossorigin="anonymous" )
script( src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js", integrity="sha384-tNVWZNCzgnTSr8HLSfGS6L7pO03KOgRXJsprbx6bitch1BMri1brpoPxtyY4pDqn", crossorigin="anonymous" )