html
	head
		include head
	body
		include top_nav
		include sub_nav
		div #{ title }
		
		div( class="container", id="main_content" )
			div( class="challengers" )
				each user in users
					div( class="item challenger" )
						div( class="number" )= user.total
						div( class="name" )
							a( href="/challengers/"+ user.name )= user.name